#container {
    text-align: center; 
  }
  
  #title-head {
    background-color: #009688;
    width: 60%;
    display: inline-block;
    box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2), 2px 0px 2px rgba(0, 0, 0, 0.2); 
    font-family: 'Raleway', sans-serif;
  }
  
  #results {
    background-color: #B2DFDB;/*rgb(240, 240, 240);*/
    width: 60%;
    display: inline-block;
    box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.2), 2px 0px 2px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
  
  }
  
  body {
    margin: 0px;
    background-color: #E0F2F1;
  }
  
  footer {
    text-align: center;
    font-size: 10px;
  }
  
  .linkedin {
    text-decoration: none;
    color: black;
  }
  
  .linkedin:hover {
    color: white;
    cursor: pointer;
  }
  
  .btn-default {
    background-color: #009688;
    border: solid 1px #009688;
    border-radius: 5px;
    color: #E0F2F1;
    cursor: pointer;
  
  }